#contacts {
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.contact-left {
  flex: 0 0 100%;
  margin-bottom: 20px;
}

.contact-right {
  flex: 0 0 100%;
}

.contact-left p {
  margin-top: 20px;
}

.social-icon {
  margin-top: 20px;
}

.social-icon a {
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
  transition: transform 0.5s;
}

.social-icon a:hover {
  color: #ff004f;
  transform: translateY(-3px);
}

.contact-right form {
  width: 100%;
}

.contact-left p {
  color: #ff004f;
}

.contact-left .sub-title {
  font-size: 30px;
  font-weight: 900;
}


