/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=GOBNB&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
p {
  color: #222222;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.screen__lock {
  overflow: hidden;
}

/* Body Styles */
body {
  font-family: 'GOBNB', sans-serif;
  background-color: white;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

/* Form Container */
form {
  width: 100%; /* Set form width to 100% */
  max-width: 600px; /* Set maximum width for better readability */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Input Fields */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: black; /* Input background color */
  color: white; /* Input text color */
  transition: box-shadow 0.3s ease; /* Transition for shine effect */
}

/* Input Focus Styles */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #ff1d58; /* Shine effect color */
}

/* Submit Button */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff1d58; /* Button background color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #b3003b; /* Button hover background color */
}

/* Success and Error Messages */
.success-message,
.error-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.success-message {
  background-color: #28a745;
  color: #fff;
}

.error-message {
  background-color: #dc3545;
  color: #fff;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  form {
    padding: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 8px;
    margin-bottom: 8px;
  }
}
